@charset "UTF-8";
/*  ===== 斷點變數 ===== */
/*  ===== 往上適應 ===== */
/*  ===== 往下適應 ===== */
/*  ===== 範圍內適應 ===== */
/*  ===== 直立螢幕 ===== */
/*  ===== 橫向螢幕 ===== */
/*  ===== 基本漸層背景設定 ===== */
/*  ===== 以 em 計算font-size, letter-spacing(RWD時方便使用) ===== */
/*  ===== 文字置中時的 letter spacing 偏移修正 ===== */
/*  ===== letter spacing 偏移重設 ===== */
/*  ===== firefox font weight bold 統一設定為 normal (firefox在小字為粗體的時候會過粗) ===== */
/*  ===== a連結清除預設值 ===== */
/*  ===== icomoon ===== */
/*  ===== 字體設定（全域/英文/中文) ===== */
/*  ===== 圖片相關 ===== */
/*  ===== 排版相關 ===== */
/*  ===== 超過文字省略為...(可設定行數) ===== */
/*  ===== 捲軸樣式設定 ===== */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   +retina(/images/mypic.jpg, 2);
 *   +retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */
.banner-container {
  padding: 15.82vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1199px) {
  .banner-container {
    padding: 150px 0;
  }
}

.banner-img {
  width: 100%;
  padding-top: calc(100% / 1920 * 800);
  position: relative;
}

@media (max-width: 767px) {
  .banner-img {
    padding-top: calc(100% / 375 * 380);
  }
}

.banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.small-banner-title {
  margin-bottom: 7px;
}

.banner-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.index-product-section {
  margin: 100px 0;
}

.index-product-container {
  margin: 0 auto;
  max-width: 900px;
}

@media (max-width: 1199px) {
  .index-product-container {
    max-width: 85%;
  }
}

.index-product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 -12px;
}

@media (max-width: 991px) {
  .index-product-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.index-product-wrap .item {
  max-width: 33.333%;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 0 6px;
  display: none;
}

@media (max-width: 991px) {
  .index-product-wrap .item {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .index-product-wrap .item {
    margin-bottom: 20px;
  }
}

.index-product-wrap .item:nth-of-type(1), .index-product-wrap .item:nth-of-type(2), .index-product-wrap .item:nth-of-type(3) {
  display: block;
}
/*# sourceMappingURL=index.css.map */